html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Proxima Nova';
  min-width: 1170px;
  min-height: 100vh;
  padding-bottom: 520px;
  background-color: #FFF;
  position: relative;
}
a:focus,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
}
.rouble {
  font-family: "rouble";
  font-weight: normal;
  text-transform: none;
}
p {
  padding: 0;
  margin: 0;
}
.content {
  width: 1170px;
  margin: 0 auto;
}
.marg {margin: 30px auto 20px;}
/* Верхнее меню */
.head .subsection {
  width: 1170px;
  margin: 20px auto 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
nav {
  width: 400px;
  text-align: left;
  min-height: 69px;
  overflow: hidden;
  font-size: 13px;
  vertical-align: middle;
}
nav a {
  text-decoration: none;
}
nav + a.logo img {
  max-width: 321px;
  max-height: 155px;
}
nav .menu_element,
footer .main .content .links .menu_element {
  display: inline-block;
  text-transform: uppercase;
  color: #636363;
  margin-right: 17px;
  font-weight: 300;
}
nav .menu_element {
  color: #4c4c4c;
}
nav .menu_element.active {
  color: #86CE73;
  cursor: text;
}
nav .menu_element:hover {
  color: #000;
}
nav .menu_element.active:hover {
  color: #86CE73;
}
nav .menu_element:last-child {
  margin-right: 0;
}
nav, nav ~ .pictograms {
  padding-top: 40px;
}
.serv_menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.serv_menu .submenu > *, .serv_menu .submenu li a {
  display: inline-block;
  text-decoration: none;
  color: #6D6D6D;
  line-height: 55px;
  vertical-align: middle;
  padding: 0 6px;
  text-transform: uppercase;
  font-size: 14px;
}

.submenu {
  margin: 40px auto 20px;
  border-top: 1px solid #6D6D6D;
  width: 1170px;
}

.serv_menu .submenu > *:first-child, .serv_menu .submenu li:first-child a {
  padding-left: 0;
}
.serv_menu .submenu > *:last-child, .serv_menu .submenu li:last-child a {
  padding-right: 0;
}
.serv_menu .submenu > *.active {
  color: #000;
}
.serv_menu .submenu a:hover {
  color: #7ed321;
}
.serv_menu .submenu ul { list-style-type: none; margin-bottom: 0; }
.serv_menu .submenu ul li { display: inline-block; position: relative; margin-left: 18px;}
.serv_menu .submenu ul.inner {
	display: none;
	position: absolute;
	top: 58px;
	left: -7px;
	background-color: #FFF;
	padding: 0;
	box-shadow: 0 0 3px -1px rgba(100, 100, 100, 0.5);
	z-index: 3;
}
/*
.serv_menu .submenu > ul li:hover > ul.inner { display: block; }
*/
.serv_menu .submenu ul.inner li {
	display: block;
	padding: 15px;
	padding-left: 10px;
}
.serv_menu .submenu ul.inner li, .serv_menu .submenu ul.inner li a {
	line-height: 1.2;
	white-space: nowrap;
}
.serv_menu .submenu ul.inner li a {
	padding: 0;
}
.serv_menu .submenu ul.inner li .inner {
	top: 0;
	left: 100%;
}
.serv_menu .submenu ul ul li:before {
	content: "";
	background: 0 0 url('../images/cat_empty.png') no-repeat;
	width: 5px;
	height: 5px;
	display: inline-block;
	margin-right: 5px;
	opacity: 0.5;
	vertical-align: middle;
}
.serv_menu .submenu ul ul li.with_sub:before,
	.serv_menu .submenu ul ul li:hover:before { background-image: url('../images/cat_have_sub.png'); }
.serv_menu .submenu ul ul li:hover:before { opacity: 1; }

.head .pictograms {
  width: 400px;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.head .pictograms .phonepic img {
  max-height: 38px;
}
.head .pictograms .phone_number {
  margin: 0 0 0 15px;
  font-size: 24px;
  line-height: 1em;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.head .pictograms .phone_number > a
{
	color: #000;
	white-space: nowrap;
}
.head .pictograms > a {
  text-decoration: none;
  font-style: normal;
  padding-top: 2px;
}
.head .pictograms > a:hover img {
  -webkit-filter: invert(30%) sepia(100%) hue-rotate(307deg) saturate(338%) brightness(106%);
  filter: invert(30%) sepia(100%) hue-rotate(307deg) saturate(338%) brightness(106%);
}
.head .pictograms > a:last-child {
  border: none;
  padding-right: 0;
}
.head .pictograms #search_button {
	width: 100px;
	min-width: 100px;
}
.head .pictograms #search_button.active {
  border-left: none;
}
.head .pictograms #search_button.active > img {
  -webkit-filter: invert(30%) sepia(100%) hue-rotate(307deg) saturate(338%) brightness(106%);
  filter: invert(30%) sepia(100%) hue-rotate(307deg) saturate(338%) brightness(106%);
}
.head .pictograms .input_search {
  background-color: #FFF;
  border: 1px solid #BEBEBE;
  border-width: 0 0 1px;
  line-height: 28px;
  min-width: 260px;
  padding: 2px 5px;
  outline: none;
}
.head .pictograms .info_pic {
  padding: 0;
  color: #666;
  margin: 0 18px;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  border: 2px solid #666;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.head .pictograms .info_pic:hover {
  color: #86CE73;
  border-color: #86CE73;
}
.head .pictograms .cart_counter {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
  border-radius: 12px;
  background-color: #86CE73;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  padding: 0 5px;
}
.head .pictograms form {
  display: none;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* ---------- */
/* Слайдер на главной */
.MP_slider {
  position: relative;
}
.MP_slider .arrows.content {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.MP_slider .prev a,
.MP_slider .next a {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 0;
  display: block;
  position: absolute;
  right: 62px;
  bottom: 30px;
  background: 0 0 url('../images/arrow_white.png') no-repeat;
}
.MP_slider .prev a:hover,
.MP_slider .next a:hover {
  background-image: url('../images/arrow_green.png');
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.MP_slider .next a {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 0;
}
.MP_slider .next a:hover {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.MP_slider .overview {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  max-height: 472px;
}
.MP_slider .overview li {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  height: 484px;
  background-position: center top;
}
.MP_slider .bx-controls {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
.MP_slider .bx-pager {
  position: absolute;
  left: 0;
  bottom: 45px;
}
.MP_slider .bx-pager .bx-pager-item {
  display: inline-block;
}
.MP_slider .bx-pager .bx-pager-link {
  display: inline-block;
  font-size: 0;
  width: 11px;
  height: 11px;
  opacity: 0.4;
  background-color: #FFF;
  border-radius: 50%;
  margin-right: 18px;
}
.MP_slider .bx-pager .bx-pager-link.active {
  opacity: 1;
  background-color: #86CE73;
}
.MP_slider .product_info {
  color: #FFF;
  font-size: 22px;
}
.MP_slider .product_info .title {
  font-size: 52px;
  text-transform: uppercase;
  line-height: 55px;
}
.MP_slider .product_info .annotation {
  margin-top: 15px;
  margin-bottom: 25px;
  max-width: 640px;
}
.MP_slider .moreinfo {
  font-size: 19px;
  padding: 8px 53px;
  margin: 0;
  background-color: #e53a5c;
  border-color: #e53a5c;
  color: #FFF;
  font-family: Affect;
  position: absolute;
  bottom: 104px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.MP_slider .moreinfo:hover {
  background-color: #e53a5c;
  border-color: #e53a5c;
}
/* ---------- */
/* Табы*/
.tab {
  display: none;
}
.tab.active {
  display: block;
}
/* ---------- */
/* Раздел с товарами и с табами */
.product_tabs_section header {
  height: 85px;
  font-size: 24px;
  text-transform: uppercase;
  color: #4c4c4c;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.product_tabs_section .category_title {
  font-weight: 300;
  letter-spacing: 0.01em;

}
.product_tabs_section header ul.categories {
  padding: 0;
  margin: 0;
  font-size: 13px;
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
}
.product_tabs_section header ul.categories li {
  cursor: pointer;
  letter-spacing: 0.02em;
  padding-right: 18px;
  margin-right: 28px;
  line-height: 1em;
  text-transform: none;
  font-weight: 300;
}
.product_tabs_section header ul.categories li[data-tab="sale"] { color: #e53a5c; }
.product_tabs_section header ul.categories li.active,
.product_tabs_section header ul.categories li.active:hover {
  color: #7ed321;
  cursor: auto;
  font-weight: 500;
}
.product_tabs_section header ul.categories li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.product_tabs_section header ul.categories li:hover {
  color: #000;
}
.product_tabs_section .button_wrap {
  text-align: center;
  margin-top: 13px;
}
.product_tabs_section .button_wrap .button {
  font-size: 18px;
  width: auto;
  padding: 4px 61px;
  display: inline-block;
}
/* ---------- */
.button {
  text-align: center;
  border: 1px solid #86CE73;
  line-height: 32px;
  color: #fff;
  background-color: #86CE73;
  margin: 8px 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.button a {
  color:#86CE73;
}

.button:hover a{
  color:#fff;
}

.button.filled {
  background-color: #888;
  border-color: #888;
  color: #FFF;
}
.button.filled:hover {
  background-color: #555;
  border-color: #555;
}
.button:active,
.button:focus {
  color: #86CE73;
  outline: none;
}
.button:hover {
  background-color: #86CE73;
  border-color: #86CE73;
  color: #FFF;
}
.prod{
  width: 271px;
  display: inline-block;
  height: 360px;
  margin-right: 174px;
}

.prod:hover .desc .name {
  text-decoration: underline;
}

.prod:hover .desc .price {
  color:#e53a5c;
}

.prod:nth-child(3n){
  margin-right: 0;
}
.prod .add_cart{
  width: 271px;
  height: 271px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.prod .add_cart .img{
  width: 271px;
  height: 271px;
  display: block;
  background-size: cover;
  background-position: center center;
}
.prod .add_cart:hover .prod_actions{
  opacity: 0.89;
}
.prod .add_cart .prod_actions{
  background-color: #ffffff;
  opacity: 0;
  position: absolute;
  top: 23px;
  left: 20px;
  width: 231px;
  height: 224px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.4s;
  padding: 64px 17px;
}
.prod .add_cart .prod_actions > a {
  display: inline-block;
}
.prod .add_cart .prod_actions span{
    display: inline-block;
    font-size: 15px;
    color: #333;
    padding: 11px 34px;
    margin: 0;
    line-height: 1;
    border: 1px solid #333;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}
.prod .add_cart .prod_actions span a{
  color:#000;
}
.prod .add_cart .prod_actions span:hover a{
    color: #fff;
}
.prod .add_cart .prod_actions .fastcart{
    margin-bottom: 20px;
    background-color: #e53a5c;
    border-color: #e53a5c;
    color: #FFF;
}
.prod .add_cart .prod_actions span.tocart:hover{
    color: #fff;
    background-color: #333;
}

.tocart-bottom {
  height: 130px;
  background: #fff;
  margin-top: -5%;
  padding: 20px;
}

.fastbuy-bottom {
  height: 85px;
  background: #fff;
  margin-top: -5%;
  padding: 20px;
}

.tocart-bottom p, .fastbuy-bottom p {
  position: relative;
  width: 200px;
  margin-left: 20%;
}

.tocart-bottom p::before {
  content: url("../images/plus.svg");
  width: 25px;
  height: 25px;
  position: absolute;
  left: -40px;
  top: 25px;
}

.fastbuy-bottom p::before {
  content: url("../images/check.svg");
  width: 25px;
  height: 25px;
  position: absolute;
  left: -40px;
  top: 9px;
}

.prod .desc{
  margin-top: 25px;
}
.prod .desc .price{
  color: #4c4c4c;
  font-size: 16px;
  display: inline-block;
  width: 33%;
  text-align: right;
  font-weight: 500;
}
.prod .desc .name{
  color: #4c4c4c;
  font-size: 15px;
  font-weight: 200;
  display: inline-block;
  width: 65%;
}
/* Одиночный блок с товаром */
.product {
  position: relative;
  display: inline-block;
  padding: 16px;
  border: 1px solid #EBEBEB;
  /*height: 335px;*/
  width: 269px;
  margin: 0 10px 30px;
  overflow: hidden;
  vertical-align: top;
}
.product .status {
  z-index: 2;
  color: #02C46c;
}
.product .status:after {
  position: absolute;
  left: 16px;
  top: 5px;
  z-index: 1;
}
.product .status.sale:after {
  content: "Скидка";
}
.product .status.hit:after {
  content: "Хит продаж";
}
.product .status.new:after {
  content: "Новинка";
}
.product .pictures {
  border-bottom: 1px solid #D4D4D4;
  overflow: hidden;
  position: relative;
}
.product .pictures .image {
  height: 180px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.product .pictures .image > a {
  margin-left: 0;
  transition: margin-right linear 0.2s;
}
.product .pictures .image img {
  max-height: 180px;
  max-width: 150px;
}
.product .pictures .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 9px;
}
.product .pictures .price a {
  color: #333;
}
.product .pictures .slider {
	top: 5px;
	position: absolute;
	left: 100%;
	transition: left linear 0.2s;
}
.product .pictures .slider .slide {
  width: 65px;
  height: 60px;
  line-height: 60px;
  opacity: 0.8;
  text-align: center;
  font-size: 0;
  cursor: pointer;
  border: 1px solid transparent;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.product .pictures .slider .slide.active {
  border-color: #86CE73;
}
.product .pictures .slider .slide img {
  display: inline-block;
  vertical-align: middle;
  max-width: 63px;
  max-height: 50px;
}
.product .pictures .slider .slide:hover { opacity: 1; }
.product .name {
  color: #5c635a;
  /*height: 81px;*/
  font-size: 15px;
  overflow: hidden;
  transition: opacity 0.2s;
}
.product .buttons {
  position: absolute;
  top: 100%;
  width: 270px;
  transition: top 0.2s;
  z-index: 3;
  background-color: #FFF;
  padding: 0 20px 10px;
  border: 1px solid #86CE73;
  border-top: none;
  left: -1px;
}
.product:hover {
  border-color: #86CE73;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.21);
  overflow: visible;
}
.product:hover .buttons {
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.21);
}
.product:hover .slider {
	left: 170px;
}
/*.product:hover .name { opacity: 0; }*/

.product:hover .image > a { margin-right: 100px; }
/* ---------- */
#advart {
  margin-top: 26px;
  padding-bottom: 66px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#advart .abblock {
  color: #333;
  position: relative;
  width: 370px;
  padding: 20px 30px;
  height: 413px;
  border: 1px solid #E1E1E1;
  overflow: hidden;
}
#advart .abblock h1 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  line-height: 30px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}
#advart .abblock .body {
  font-size: 16px;
}
#advart .abblock .body img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 368px;
  z-index: -1;
}
#advart .abblock:hover {
  border-color: #86CE73;
}
#advart .abblock:hover h1 {
  color: #86CE73;
}
/* ---------- */
#benefits {
	text-align: center;
  margin-top: 50px;
}
/* ---------- */
/* Раздел с самопохвальбой */
#about_us {
  border-width: 1px 0;
  padding: 60px 0;
  color: #5F5F5F;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
#about_us .block,
#about_us .block > h2 {
  text-align: center;
  font-size: 18px;
}
#about_us .block > h2 {
  font-weight: bold;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  text-transform: uppercase;
}
#about_us .ico {
  margin: 0 auto;
}
#about_us .ico img {
  max-height: 46px;
}
#about_us .ico.ico2 img {
  max-height: 52;
}
#about_us .ico.ico3 img {
  max-height: 44px;
}
/* ---------- */
/* Новости на главной */
#news header {
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0 30px;
}
#news .news_body {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#news .news_body .news_block {
  width: 48%;
  position: relative;
}
#news .news_body .news_block .title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  color: #424242;
  display: block;
  color: #e53a5c;
  height: 44px;
}
#news .news_body .news_block .date {
  color: #BABABA;
  font-size: 14px;
  margin: 8px 0 12px;
}
#news .news_body .news_block .body {
  border-top: 1px solid #D7D7D7;
  color: #424242;
  padding-top: 10px;
  min-height: 125px;
  font-size: 16px;
  padding-bottom: 30px;
  position: relative;
  height: 150px;
}
#news .news_body .news_block .body p {
  width: 100%;
  padding-left: 175px;
}
#news .news_body .news_block .body img {
  position: absolute;
  top: 10px;
  left: 0;
}
#news .news_body .news_block .read_more {
  font-size: 16px;
  color: #86CE73;
  position: absolute;
  bottom: 0;
  right: 0;
}
#news .news_body .news_block .read_more:hover {
  text-decoration: underline;
}
/* ---------- */
/* Футер */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 285px;
  background-color: #252525;
}
.bg{
  background-image: url('../images/flower-footer.jpg');
  position: absolute;
  display: block;
  width: 100%;
  height: 338px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
footer .info div .phone{
  position: absolute;
  top: -41px;
  right: 0;
  font-size: 23px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
footer .main{
  position: relative;
}
footer .main .content .links {
  text-align: center;
  padding: 22px 0;
}
footer .main .content .links .menu_element {
  color: #CFCFCF;
}
footer .main .content .links .menu_element:hover {
  color: #FFF;
}
footer .main .content .links .menu_element.active-:hover {
  color: #86CE73;
  cursor: text;
}
footer .main .content .links .menu_element:last-child {
  margin-right: 0;
}
footer .main .content .links .menu_element.active {
  color: #86CE73;
}
footer .info div{
  position: relative;
  font-weight: 100;
}
footer .info > div {
  margin-right: 60px;
  display: inline-block;
  vertical-align: top;
  color: #C0C0C0;
  font-size: 14px;
  line-height: 17px;
  width: 27%;
  margin-left: 29px;
}
footer .info > div:last-child {
  margin-right: 0;
}
footer .info > div:last-child div{
  text-align: right;
}
footer .info > div .title {
  text-transform: uppercase;
  margin: 23px 0 14px;
  color: #FFF;
  font-weight: 300;
}
footer .info .middle .logo{
  background-image: url('../images/footerlogo.svg');
  width: 330px;
  height: 130px;
  display: block;
  background-size: cover;
}
footer .info .socials {
  text-align: center;
  margin: 18px auto;
  width: 84%;
}
footer .info .socials a {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  font-size: 0;
}
footer .info .socials a:last-child {
  margin-right: 0;
}
footer .info .socials .fb {
  background: 0 0 url('../images/foooter-fb.svg') no-repeat;
}
footer .info .socials .insta {
  background: 0 0 url('../images/footer-insta.svg') no-repeat;
}
footer .info .socials .call {
  background: 0 0 url('../images/footer-call.svg') no-repeat;
}
footer .© {
  background-color: #000;
  opacity: 0.48;
  height: 34px;
  line-height: 32px;
  font-size: 12px;
  color: #6d6d6d;
  margin-top: -3px;
  text-transform: uppercase;
  text-align: center;
}
footer .© a {
  color: #86CE73;
}
footer .© .content { position: relative; }
footer .© .content .logo {
	position: absolute;
	height: 22px;
	width: 131px;
	background: 0 0 url('../images/apptimizm.svg') no-repeat;
	background-size: 100% 100%;
	content: "";
	left: 0;
	top: 6px;
}
/* ---------- */
.subpage {
  padding-top: 20px;
  border-top: 1px solid #EBEBEB;
}
.subpage + #about_us {
  margin-top: 30px;
}
/* Хлебные крошки */
.breadcrumbs {
  color: #828282;
  font-size: 14px;
}
.breadcrumbs a {
  color: #3E3E3E;
}
.breadcrumbs a:hover {
  color: #000;
}
/* ---------- */
.product_page .title {
  font-size: 30px;
  color: #000;
  margin-top: 15px;
}
.product_page .title.invis {
  color: #CBB;
}
.product_page .infoblock {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.product_page .infoblock .main_info {
  width: 757px;
  min-height: 400px;
}
.product_page .infoblock .main_info figure {
  padding: 30px 0 20px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}
.product_page .infoblock .main_info .main_image {
  display: inline-block;
  max-width: 757px;
  margin-right: 0px;
}
.product_page .infoblock .main_info .main_image.noslider {
  margin-right: 0;
}
.product_page .infoblock .main_info .slider {
  height: 365px;
  min-width: 100px;
  width: 100px;
  right: 55px;
  top: 10px;
  position: absolute;
}
.product_page .infoblock .main_info .slider .scroller {
  width: 100%;
  height: 19px;
  padding: 1px 0 3px;
  background-color: #FFF;
  position: absolute;
  left: 0;
  text-align: center;
  cursor: pointer;
}
.product_page .infoblock .main_info .slider .scroller > span {
  display: inline-block;
  width: 24px;
  height: 13px;
  font-size: 0;
  /*background: 0 -13px url('../images/v_slider_scrollers.png') no-repeat;*/
}
.product_page .infoblock .main_info .slider .scroller.up {
  top: 0;
}
.product_page .infoblock .main_info .slider .scroller.up:hover span {
  background-position: 0 0;
}
.product_page .infoblock .main_info .slider .scroller.down {
  bottom: 2px;
}
.product_page .infoblock .main_info .slider .scroller.down span {
  background-position: -24px -13px;
}
.product_page .infoblock .main_info .slider .scroller.down:hover span {
  background-position: -24px 0;
}
.product_page .infoblock .main_info .slider .icons {
  height: 340px;
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.product_page .infoblock .main_info .slider .slide {
  cursor: pointer;
  position: relative;
  top: 0;
  height: 100px;
  min-height: 100px;
  width: 100px;
  border: 1px solid #EBEBEB;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  transition: top 0.3s linear;
}
.product_page .infoblock .main_info .slider .slide.active {
  border: 1px solid #86CE73;
}
.product_page .infoblock .main_info .slider .slide:last-child {
  margin-bottom: 0;
}
.product_page .infoblock .main_info .slider .dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.product_page .infoblock .main_info .slider .dots .dot {
  opacity: 0.5;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7B7B7B;
  cursor: pointer;
}
.product_page .infoblock .main_info .slider .dots .dot.active {
  background-color: #86CE73;
}
.product_page .infoblock .main_info .slider .dots .dot:hover {
  opacity: 1;
}
.product_page .infoblock .main_info .services {
  border-bottom: 1px solid #EBEBEB;
}
.product_page .infoblock .main_info .services ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.product_page .infoblock .main_info .services li {
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.product_page .infoblock .main_info .services li input {
  width: 40px;
  display: none;
}
.product_page .infoblock .main_info .services li .service_name {
  font-size: 14px;
  -webkit-flex-grow: 20;
  flex-grow: 20;
  font-weight: normal;
  margin: 0;
}
.product_page .infoblock .main_info .services li .service_name a {
  color: #000;
}
.product_page .infoblock .main_info .services li .service_name:before {
  width: 25px;
  cursor: pointer;
  height: 23px;
  content: "";
  background: 0 0 url('../images/custom_cb_empty.svg') no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
.product_page .infoblock .main_info .services li input:checked + label:before {
  background-image: url('../images/custom_cb_checked.svg');
}
.product_page .infoblock .main_info .services header {
  margin: 30px 0;
  font-size: 24px;
  text-transform: uppercase;
}
.product_page .infoblock .main_info .services input:checked ~ span,
.product_page .infoblock .main_info .services input:checked ~ label,
.product_page .infoblock .main_info .services input:checked ~ label a {
  color: #86CE73;
}
.product_page .infoblock .main_info .service_buttons {
  padding: 30px 0;
  border-bottom: 1px solid #EBEBEB;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.product_page .infoblock .main_info .service_buttons .innerbutton {
  text-align: center;
  font-size: 15px;
  border: 1px solid #D7D7D7;
  padding: 0px 0;
  width: 32.2%;
  cursor: pointer;
  color: #000;
  margin-right: 14px;
}
.product_page .infoblock .main_info .service_buttons .innerbutton .img {
  display: inline-block;
  margin-right: -12px;
  width: 68px;
  height: 50px;
  background: 0 0 url('../images/product_linkbuttons.png') no-repeat;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  vertical-align: middle;
}
.product_page .infoblock .main_info .service_buttons .innerbutton .img.list {
  background-position: -69px 0;
}
.product_page .infoblock .main_info .service_buttons .innerbutton .img.book {
  background-position: -132px 0;
}
.product_page .infoblock .main_info .service_buttons .innerbutton:hover,
.product_page .infoblock .main_info .service_buttons .innerbutton.active {
  border-color: #86CE73;
  color: #86CE73;
}
.product_page .infoblock .main_info .service_buttons .innerbutton:hover .img,
.product_page .infoblock .main_info .service_buttons .innerbutton.active .img {
  background-position: 0 -50px;
}
.product_page .infoblock .main_info .service_buttons .innerbutton:hover .list,
.product_page .infoblock .main_info .service_buttons .innerbutton.active .list {
  background-position: -69px -50px;
}
.product_page .infoblock .main_info .service_buttons .innerbutton:hover .book,
.product_page .infoblock .main_info .service_buttons .innerbutton.active .book {
  background-position: -132px -50px;
}
.product_page .infoblock .main_info .service_buttons .innerbutton:last-child {
  margin-right: 0;
}
.product_page .infoblock .main_info .service_area {
  display: none;
}
.product_page .infoblock .main_info .service_area .tab {
  display: none;
  padding: 20px 0;
}
.product_page .infoblock .main_info .service_area .tab.active {
  display: block;
  border-bottom: 1px solid #EBEBEB;
}
.product_page .infoblock .main_info .product_detail {
  padding-top: 25px;
}
.product_page .infoblock .main_info .product_detail .mini_menu {
  margin: 0;
  padding: 0;
  text-align: center;
}
.product_page .infoblock .main_info .product_detail .mini_menu li {
  padding: 0 20px;
  border-right: 1px solid #5F5F5F;
  font-size: 18px;
  display: inline-block;
}
.product_page .infoblock .main_info .product_detail .mini_menu li a {
  color: #5F5F5F;
}
.product_page .infoblock .main_info .product_detail .mini_menu li a:hover {
  color: #000;
}
.product_page .infoblock .main_info .product_detail .mini_menu li a.disabled {
  color: #BBB;
  cursor: text;
}
.product_page .infoblock .main_info .product_detail .mini_menu li:last-child {
  border-right: none;
}
.product_page .infoblock .main_info .product_detail .mini_menu li.active a {
  color: #86CE73;
}
.product_page .infoblock .main_info .product_detail .mini_menu li.active a:hover {
  color: #86CE73;
}
.product_page .infoblock .main_info .product_detail .tab {
  font-size: 18px;
  color: dimgrey;
  text-align: justify	;
}
.product_page .infoblock .main_info .product_detail .tab .title {
  text-align: left;
  color: #696969;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 18px;
  margin-top: 0px;
}
.product_page .infoblock .main_info .product_detail #info table {
  width: 100%;
  border-collapse: collapse;
}
.product_page .infoblock .main_info .product_detail #info table td {
  vertical-align: top;
  font-size: 18px;
  border: 1px solid #E1E1E1;
  padding: 6px 25px;
}
.product_page .infoblock .main_info .product_detail #info table td:first-child {
  width: 42%;
}
.product_page .infoblock .main_info .product_detail #info table tr:nth-child(2n-1) td {
  background-color: #F7F7F7;
}
.product_page .infoblock .main_info .product_detail #feedback {
  font-size: 14px;
  color: #BDBDBD;
}
.product_page .infoblock .main_info .product_detail #feedback textarea,
.product_page .infoblock .main_info .product_detail #feedback input {
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #E1E1E1;
}
.product_page .infoblock .main_info .product_detail #feedback textarea {
  width: 100%;
  height: 122px;
}
.product_page .infoblock .main_info .product_detail #feedback .inputline {
  margin-top: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.product_page .infoblock .main_info .product_detail #feedback .inputline input {
  width: 32.7%;
}
.product_page .infoblock .main_info .product_detail #feedback .inputline .button {
  border: 1px solid #86CE73;
  background-color: #86CE73;
  color: #FFF;
  padding: 5px 0;
  font-size: 18px;
  margin: 0;
}
.product_page .infoblock .main_info .product_detail #feedback .inputline .button:hover {
  background-color: #3c7c2c;
  border-color: #3c7c2c;
}
.product_page .infoblock .main_info .product_detail #feedback .inputline .button.disabled {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  cursor: default;
}
.product_page .infoblock .main_info .product_detail #feedback .inputline .button.disabled:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
}
.product_page .infoblock .main_info .product_detail #feedback .feed_item {
  font-size: 18px;
  padding: 30px 0;
  border-top: 1px solid #EBEBEB;
  color: #7E7E7E;
  overflow: hidden;
}
.product_page .infoblock .main_info .product_detail #feedback .feed_item img {
  float: left;
  margin-right: 30px;
}
.product_page .infoblock .main_info .product_detail #feedback .feed_item .name {
  color: #000;
}
.product_page aside {
  width: 380px;
  margin: 29px 0px;
  background-color: #F6F6F6;
  padding: 20px 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.product_page aside .priceblock {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #EBEBEB;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.product_page aside .priceblock .buttons{
  width: 100%;
}

.product_page aside .priceblock .price-item, .price-item-promo{
  width:44%;
  float: left;
}

.product_page aside .priceblock .price-item-border{
  width: 1px;
  background-color: #dbdbdb;
}

.product_page aside .priceblock .price-item-promo header, .price-item-promo .price{
  color: #ea3d5a!important;
}

.product_page aside .priceblock header {
  color: #858585;
  font-size: 24px;
  text-transform: uppercase;
}

.product_page aside .priceblock span {
  margin: 15px auto;
}

.product_page aside .priceblock span b{
  font-weight: 600;
}

.product_page aside .priceblock span small {
  font-size: 14px;
  text-transform: uppercase;
  color: #ea3d5a;
}

.product_page aside .priceblock span a {
  color: #ea3d5a;
  font-size: 16px;
  border-bottom: 1px dashed #ea3d5a;
  cursor: pointer;
}
.product_page aside .priceblock .structure { margin-bottom: 20px; }
.product_page aside .priceblock .structure > div {
  margin-left: 20px;
  margin-top: 4px;
  color: #49703f;
}
.product_page aside .priceblock .structure h5 {
  margin: 20px 0 10px;
  padding: 0;
  text-align: left;
}
.product_page aside .priceblock .price {
  color: #000;
  font-size: 40px;
}
.product_page aside .priceblock .credit_price,
.product_page aside .priceblock .article,
.product_page aside .priceblock .structure h5
{
  text-transform: uppercase;
  font-size: 18px;
  color: #858585;
}
.product_page aside .priceblock .credit_price > span {
  color: #000;
}
.product_page aside .priceblock .button {
  font-size: 18px;
  display: block;
  padding: 8px 0;
  margin-top: 20px;
}
.product_page aside .priceblock .button:last-child {
  margin-bottom: 0;
}
.product_page aside .priceblock .button:hover {
  background-color: #3c7c2c;
  border-color: #3c7c2c;
}
.product_page aside .priceblock .button.filled {
  background-color: #ea3d5a;
  border-color: #ea3d5a;
}
.product_page aside .priceblock .button.filled:hover {
  background-color: #EB031D;
  border-color: #EB031D;
}
.product_page aside .priceblock .button.grey {
  border-color: #ACACAC;
  background-color: #ACACAC;
  color: #FFF;
}
.product_page aside .priceblock .button.grey:hover {
  background-color: #606060;
  border-color: #606060;
}
.product_page aside .available_memories,
.product_page aside .available_colors {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 20px;
}
.product_page aside .available_memories h2,
.product_page aside .available_colors h2 {
  margin: 30px 0 25px;
  text-transform: uppercase;
  font-size: 24px;
}
.product_page aside .available_memories .item {
  margin-top: 20px;
  border: 1px solid #D7D7D7;
  padding: 20px;
  font-size: 22px;
  line-height: 14px;
  display: -webkit-flex;
  display: flex;
  color: #000;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.product_page aside .available_memories .item .mem {
  white-space: nowrap;
}
.product_page aside .available_memories .item .price {
  color: #A6A6A6;
}
.product_page aside .available_memories .item .price .credit {
  color: #C1C1C1;
  font-size: 12px;
  text-transform: uppercase;
}
.product_page aside .available_memories .item.current {
  color: #86CE73;
  border: 2px solid #86CE73;
}
.product_page aside .available_memories .item.current .price,
.product_page aside .available_memories .item.current .credit {
  color: #86CE73;
}
.product_page aside .available_colors {
  overflow: hidden;
}
.product_page aside .available_colors .item {
  width: 173px;
  float: left;
  margin-right: 21px;
  margin-bottom: 21px;
  border: 1px solid #C2C2C2;
  height: 62px;
  text-align: center;
}
.product_page aside .available_colors .item:nth-child(2n+1) {
  margin-right: 0;
}
.product_page aside .available_colors .item .color_ico {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin: 15px auto 0;
}
.product_page aside .available_colors .item.current {
  border-color: #86CE73;
}
.product_page aside .delivery {
  margin-top: 25px;
}
.product_page aside .delivery .variant {
  margin-bottom: 25px;
  color: #1E1E1E;
  font-size: 14px;
}
.product_page aside .delivery .variant .descr,
.product_page aside .delivery .variant .name {
  display: block;
  padding-left: 70px;
  padding-right: 10px;
}
.product_page aside .delivery .variant .name {
  font-size: 18px;
}
.product_page aside .delivery .wide .descr,
.product_page aside .delivery .wide .name {
  padding-left: 0;
}
.product_page aside .delivery .ico {
  float: left;
  max-width: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
.cart_section {
  border-top: 1px solid #EBEBEB;
  color: #343434;
  font-size: 18px;
}
.cart_section .switcher_block {
  padding: 30px 0 35px;
  overflow: hidden;
  text-transform: uppercase;
}
.cart_section .switcher_block .switches {
  float: left;
}
.cart_section .switcher_block .switches .switch {
  display: inline-block;
  color: #363636;
  padding: 0 20px;
  line-height: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.cart_section .switcher_block .switches .switch.active {
  color: #86CE73;
  cursor: default;
}
.cart_section .switcher_block .switches .switch:first-child {
  border-right: 1px solid #1F1F1F;
  padding-left: 0;
}
.cart_section .switcher_block .switches .switch:last-child {
  padding-right: 0;
}
.cart_section .switcher_block a {
  float: right;
  color: #86CE73;
}
.cart_section .switcher_block a:hover {
  color: #3c7c2c;
}
.cart_section .requisites,
.cart_section .choose_delivery .selects {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 35px;
  margin-bottom: 35px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cart_section .requisites .subblock,
.cart_section .choose_delivery .selects .subblock {
  margin-right: 30px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cart_section .requisites .subblock:last-child {
  margin-right: 0;
}
.cart_section .requisites input {
  display: block;
  margin-top: 7px;
  width: 100%;
  padding: 4px 12px;
  border: 1px solid #A1A1A1;
  background-color: #FFF;
}

.simple_page.content .requisites input, textarea {
  display: block;
  margin-top: 7px;
  width: 50%;
  padding: 4px 12px;
  border: 1px solid #A1A1A1;
  background-color: #FFF;
}

#payButton {
  width: 25%;
  color: #fff;
  background-color: #86CE73;
  border-color: #86CE73;
  line-height: 44px;
  font-size: 18px;
  display: inline-block;
  padding: 0 108px;
}

.cart_section .requisites input::-moz-placeholder {
  color: #C6C6C6;
}

.cart_section .requisites h2 {
    font-size: inherit;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
}

.cart_section .choose_delivery {
  border-bottom: 1px solid #CCC;
}
.cart_section .choose_delivery h2,
.cart_section .cart_products h2 {
  font-size: inherit;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.cart_section .choose_delivery .selects {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 30px;
}
.cart_section .choose_delivery .selects .subblock:last-child {
  margin-right: 0;
}
.cart_section .choose_delivery .selects select {
  background-color: #FFF;
  border: 1px solid #A1A1A1;
  padding: 5px 10px;
  margin-top: 15px;
  display: block;
  width: 100%;
}
.cart_section .choose_delivery .texts {
  display: -webkit-flex;
  display: flex;
}
.cart_section .choose_delivery .texts > * {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 51%;
}
.cart_section .choose_delivery .texts > *:first-child {
  margin-right: 30px;
}
.cart_section .choose_delivery .texts textarea {
  width: 100%;
  max-width: 100%;
  height: 86px;
  display: block;
  margin-top: 15px;
  background-color: #FFF;
  border: 1px solid #A1A1A1;
  padding: 5px;
}
.cart_section .choose_delivery .button_wrap {
  text-align: right;
  margin: 32px 0;
}
.cart_section .choose_delivery .button.filled,
.cart_section .cart_products .buttons_area .button.normal {
  background-color: #86CE73;
  border-color: #86CE73;
  line-height: 44px;
  font-size: 18px;
  display: inline-block;
  padding: 0 108px;
}
.cart_section .choose_delivery .button.filled:hover,
.cart_section .cart_products .buttons_area .button.normal:hover {
  background-color: #3c7c2c;
  border-color: #3c7c2c;
}
.cart_section .cart_products {
  margin-top: 33px;
}
.cart_section .cart_products table {
  margin-top: 50px;
  border-collapse: collapse;
}
.cart_section .cart_products table th {
  min-width: 200px;
  font-weight: normal;
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
}
.cart_section .cart_products table th:last-child {
  width: 170px;
  min-width: 170px;
}
.cart_section .cart_products table td {
  border-bottom: 1px solid #CCC;
  padding: 32px;
  padding-left: 0;
  color: #181818;
}
.cart_section .cart_products table td:first-child {
  padding: 12px 30px;
}
.cart_section .cart_products table td:last-child {
  min-width: 10px;
  width: 30px;
  padding-right: 0;
  text-align: right;
}
.cart_section .cart_products table td.name {
  text-transform: uppercase;
}
.cart_section .cart_products table td.name a {
  color: #2C2C2C;
}
.cart_section .cart_products table td.count input {
  font-size: 18px;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
  width: 62px;
  padding: 0;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #C2C2C2;
  color: #000;
  outline: none;
}
.cart_section .cart_products table td.count input:focus {
  border-color: #86CE73;
}
.cart_section .cart_products table td.delete_item {
  font-size: 28px;
  color: #B7B7B7;
  cursor: pointer;
}
.cart_section .cart_products table td.delete_item:hover {
  color: #86CE73;
}
.cart_section .cart_products .buttons_area {
  margin-top: 35px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cart_section .cart_products .buttons_area > * {
  width: 370px;
}
.cart_section .cart_products .buttons_area .button {
  line-height: 44px;
  font-size: 18px;
}
.cart_section .cart_products .buttons_area .button.normal {
  color: #FFF;
}
.cart_section .cart_products .buttons_area .total {
  font-size: 18px;
}
.cart_section .cart_products .buttons_area .total label {
  width: 100px;
  color: #4A4A4A;
  font-weight: normal;
}
.cart_section .cart_products .buttons_area .total .val {
  color: #272727;
  padding-left: 70px;
}
.cart_section .cart_products .buttons_area .total > div {
  padding: 10px 0;
}
.cart_section .cart_products .buttons_area .total .delivery_cost {
  margin-bottom: 10px;
}
.cart_section .cart_products .buttons_area .overall {
  border-top: 1px solid #CCC;
}
.cart_section .cart_products .buttons_area .overall label {
  font-size: 24px;
  color: #2E2E2E;
}
.cart_section .cart_products .buttons_area .overall .val {
  color: #1E1E1E;
  font-size: 33px;
}
.catalog header {
  text-transform: uppercase;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.catalog header h1 {
  font-size: 24px;
  margin: 0;
}
.catalog header .search {
  margin-bottom: 20px;
  text-transform: none;
}
.catalog header ul.toptabs {
  padding: 0;
  margin: 0;
  font-size: 14px;
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
}
.catalog header ul.toptabs li {
  cursor: pointer;
  color: #6B6B6B;
  padding-right: 18px;
  margin-right: 18px;
  border-right: 1px solid #6B6B6B;
  line-height: 1em;
  text-transform: none;
}
.catalog header ul.toptabs li.active,
.catalog header ul.toptabs li.active:hover {
  color: #86CE73;
  cursor: auto;
}
.catalog header ul.toptabs li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.catalog header ul.toptabs li:hover {
  color: #000;
}
.catalog header ul.toptabs a {
  color: #6b6b6b;
  text-decoration: none;
}
.catalog header ul.toptabs :hover a {
  color: #000;
}
.catalog header ul.toptabs .active a,
.catalog header ul.toptabs .active:hover a {
  color: #86CE73;
}
.catalog .sorting {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  font-size: 14px;
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 20px;
}
.catalog .sorting li {
  cursor: pointer;
  color: #6B6B6B;
  padding-right: 18px;
  margin-right: 18px;
  border-right: 1px solid #6B6B6B;
  line-height: 1em;
  text-transform: none;
}
.catalog .sorting li.active,
.catalog .sorting li.active:hover {
  color: #86CE73;
  cursor: auto;
}
.catalog .sorting li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.catalog .sorting li:hover {
  color: #000;
}
.catalog .sorting li.active:hover {cursor: pointer;}
.catalog .tabs .tab {
  display: none;
}
.catalog .tabs .tab.active {
  display: block;
}
.autocomplete-suggestions {
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  overflow-y: auto;
}
.autocomplete-suggestions .autocomplete-suggestion {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 15px;
}
.autocomplete-suggestions .autocomplete-suggestion:last-child {
  margin: 0;
}
.autocomplete-suggestions .autocomplete-suggestion .selected {
  background: #F0F0F0;
}
.autocomplete-suggestions .autocomplete-suggestion div {
  padding: 2px 5px;
  white-space: nowrap;
}
.autocomplete-suggestions .autocomplete-suggestion strong {
  font-weight: normal;
  color: #65c14d;
}
.autocomplete-suggestions .autocomplete-suggestion img {
  opacity: 0.8;
}
.autocomplete-suggestions .autocomplete-suggestion:hover {
  background-color: #fafafa;
}
.topline {
  border-top: 1px solid #EBEBEB;
}
.order_header {
  border-bottom: 1px solid #EBEBEB;
}
.order_header h2 {
  font-size: 18px;
  margin: 28px 0;
  text-transform: uppercase;
}
.order_message {
  color: #2C2C2C;
}
.order_message .order_status {
  margin-top: 38px;
  font-size: 22px;
  line-height: 24px;
}
.order_message .msg {
  font-size: 16px;
  margin-top: 18px;
  line-height: 20px;
}
.order_message .msg .user_email {
  color: #86CE73;
}
.order_message .msg .btn_wrap {margin-top: 20px;}
.order_message .msg .button {
	display: inline-block;
	padding: 10px 40px;
}
/* Фильтр товаров */
.filter_block {
  background-color: rgba(240, 240, 240, 0.55);
  padding: 20px;
  margin: 20px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-bwetween;
  justify-content: space-bwetween;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* Блок с произвольным фильтром (объём памяти, размер, что-то ещё) */
  /* Блок с доступными цветами */
  /* Блок со слайдером цены */
}
.filter_block .filter {
  padding-bottom: 38px;
  width: 22%;
  margin-right: 4%;
}
.filter_block .filter:last-child {
  margin-right: 0;
}
.filter_block .filter h3 {
  margin: 0 0 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #2E2E2E;
}
.filter_block .button {
  margin: 0;
}
.filter_block .filter.custom {
  /* Расстояние между блоками */
  padding-bottom: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.filter_block .filter.custom .serv_wrap {
  -webkit-flex-grow: 20;
  flex-grow: 20;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.filter_block .filter.custom .button {
  height: 34px;
  line-height: 28px;
  font-size: 14px;
  border: 1px solid #C2C2C2;
  color: #000;
  padding: 0 5px;
  text-align: center;
  text-transform: none;
  margin-bottom: 6px;
}
.filter_block .filter.custom .button.active {
  background-color: transparent;
  border-color: #86CE73;
  border-width: 2px;
  color: #86CE73;
}
.filter_block .filter.custom .button:hover {
  background-color: #86CE73;
  border-color: #86CE73;
  color: #FFF;
}
.filter_block .filter.custom .blocks {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-grow: 20;
  flex-grow: 20;
}
.filter_block .filter.custom .blocks.vertical {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: unset;
  flex-grow: unset;
}
.filter_block .filter.custom .block {
  border: 1px solid #C2C2C2;
  margin-right: 6px;
  margin-bottom: 0;
  justify-content: center;
  -webkit-flex-grow: 4;
  flex-grow: 4;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
.filter_block .filter.custom .block:last-child {
  margin-right: 0;
}
.filter_block .filter.custom .vertical .block {
  margin-right: 0;
  margin-bottom: 6px;
  height: auto;
  height: 34px;
}
.filter_block .filter.custom .vertical .block:last-child {
  margin-bottom: 0;
}
.filter_block .filter.color {
  position: relative;
}
.filter_block .filter.color .blocks {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.filter_block .filter.color .blocks .c_wrap {
  text-align: center;
}
.filter_block .filter.color .blocks .color_block {
  width: 38px;
  height: 38px;
  margin-bottom: 6px;
  margin-right: 6px;
  cursor: pointer;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.filter_block .filter.color .blocks .color_block:hover {
  border: 1px solid #EBEBEB;
  border-radius: 50%;
}
.filter_block .filter.color .blocks .color_block.active {
  border: 1px solid #86CE73;
  border-radius: 50%;
  cursor: default;
}
.filter_block .filter.color .blocks .color_block > span {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
}
.filter_block .filter.color.little {
  border: none;
}
.filter_block .filter.color.little .blocks,
.filter_block .filter.color.middle .blocks {
  width: 50%;
  margin: 0 auto;
}
.filter_block .filter.color.little .c_wrap:first-child {
  width: 100%;
}
.filter_block .filter.color .button {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 34px;
  line-height: 28px;
  font-size: 14px;
  border: 1px solid #C2C2C2;
  color: #000;
  padding: 0 5px;
  text-align: center;
  text-transform: none;
}
.filter_block .filter.color .button.active {
  background-color: transparent;
  border-color: #86CE73;
  border-width: 2px;
  color: #86CE73;
}
.filter_block .filter.color .button:hover {
  background-color: #86CE73;
  border-color: #86CE73;
  color: #FFF;
}
.filter_block .filter.price {
  width: 44%;
  position: relative;
}
.filter_block .filter.price .buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.filter_block .filter.price .button {
  color: #FFF;
  padding: 0 40px;
  text-align: center;
  width: 47%;
}
.filter_block .filter.price .button.confirm {
  background-color: #86CE73;
  border-color: #86CE73;
}
.filter_block .filter.price .button.confirm:hover {
  background-color: #3c7c2c;
  border-color: #3c7c2c;
}
.filter_block .filter.price .button.reset {
  background-color: #C2C2C2;
  border-color: #C2C2C2;
}
.filter_block .filter.price .button.reset:hover {
  background-color: #767676;
  border-color: #767676;
}
.filter_block #price_val {
  text-align: center;
  left: 100%;
  margin-top: 35px;
  margin-bottom: 10px;
  color: #2E2E2E;
  font-size: 18px;
  white-space: nowrap;
}
.filter_block #price_val:after {
  content: "i";
  font-family: 'rouble';
  margin-left: 5px;
}
.filter_block #price_slider {
  border: none;
  height: 4px;
  background-color: #F0F0F0;
  margin: 0 20px;
}
.filter_block #price_slider .ui-widget-header {
  background-color: #86CE73;
}
.filter_block #price_slider .ui-slider-handle {
  background-color: #86CE73;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  top: -10px;
  outline: none;
  margin-left: -11px;
}
.filter_block #price_slider .ui-slider-handle:focus,
.filter_block #price_slider .ui-slider-handle:active {
  outline: none;
}
.filter_block #price_slider .ui-slider-handle:after {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  border: 18px solid rgba(134, 206, 115, 0.2);
  border-radius: 50%;
  top: 0;
  left: 0;
  content: "";
  transform: translate(-9px, -9px);
}
.pages {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.pages > span {
  display: block;
  text-align: center;
  padding: 2px 6px;
  min-width: 26px;
  margin: 0 5px;
  border: 1px solid #ebebeb;
  cursor: pointer;
  color: #7D7D7D;
}
.pages > span:hover {
  border: 1px solid #86CE73;
  color: #86CE73;
}
.pages > span.current {
  border: none;
  color: #3c7c2c;
  cursor: auto;
}
.pages > span.fast {
  border: none;
}
/* Обратный звонок */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.8);
  z-index: 20;
}
aside.callback {
  display: none;
  padding: 25px 50px;
  background-color: #FFF;
  z-index: 21;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #1B1B1B;
  min-width: 500px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
aside.callback .close_button {
  cursor: pointer;
  position: absolute;
  right: -35px;
  top: 0px;
  width: 17px;
  height: 17px;
}
aside.callback h3 {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
aside.callback label {
  font-size: 16px;
  display: block;
  font-weight: normal;
  margin: 10px 0 5px;
}
aside.callback input[type="text"] {
  background-color: #FFF;
  border: 1px solid #C2C2C2;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  outline: none;
}
aside.callback .button_wrap {
  text-align: center;
  margin-top: 10px;
}
aside.callback .button {
  display: inline-block;
  border: 1px solid #86CE73;
  color: #86CE73;
  font-size: 20px;
  background-color: #FFF;
  padding: 8px 58px;
}
/* Новости */
.blog {
  overflow: hidden;
}
.blog h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  padding-bottom: 25px;
  border-bottom: 1px solid #CCC;
  font-size: 18px;
  text-transform: uppercase;
}
.blog .newsline {
  margin-bottom: 35px;
  overflow: hidden;
}
.blog .post {
  width: 31%;
  float: left;
  margin-right: 2.165%;
}
.blog .post:last-child {
  margin-right: 0;
}
.blog .image {
  max-width: 100%;
  display: block;
  max-height: 227px;
  margin: 0 auto;
}
.blog .name {
  font-size: 18px;
  color: #242424;
  margin-top: 8px;
  display: inline-block;
}
.blog .date {
  display: block;
  color: #B7B7B7;
  font-size: 16px;
}
.blog .mini > a.more {
  text-decoration: underline;
  color: #86CE73;
}
.blog .button_wrap {
  text-align: center;
  margin-top: 13px;
}
.blog .button_wrap .button {
  font-size: 18px;
  width: auto;
  padding: 4px 61px;
  display: inline-block;
}
/* Страница новости */
.news_page header {
  border-bottom: 1px solid #CCC;
}
.news_page header h1 {
  text-transform: uppercase;
  color: #616161;
  font-size: 18px;
  margin: 35px 0 25px;
}
.news_page .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.news_page .container .body {
  width: 777px;
  padding-right: 30px;
  padding-top: 20px;
}
.news_page .container .body .image {
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto 20px;
  display: block;
}
.news_page .container .body .published {
  font-size: 14px;
  color: #BEBEBE;
  margin-bottom: 20px;
}
.news_page .container aside {
  padding-top: 20px;
  width: 363px;
}
.news_page .container aside .post {
  margin-bottom: 30px;
}
.news_page .container aside .post:last-child {
  margin-bottom: 0;
}
.news_page .container aside .image {
  max-width: 100%;
  display: block;
  max-height: 227px;
  margin: 0 auto;
}
.news_page .container aside .name {
  font-size: 18px;
  color: #242424;
  margin-top: 8px;
  display: inline-block;
}
.news_page .container aside .date {
  display: block;
  color: #B7B7B7;
  font-size: 16px;
}
.news_page .container aside .mini > a.more {
  text-decoration: underline;
  color: #86CE73;
}
.serv_menu .submenu ul li.dop_cats:hover .extend_cats{
  display: block;
}
.serv_menu .submenu ul .extend_cats{
  position: absolute;
  z-index: 10;
  background-color: white;
  left: -50px;
  display: none;
}
.serv_menu .submenu ul .extend_cats ul{
  padding-left: 0;
}
.serv_menu .submenu ul .extend_cats ul li{
  width: 150px;
  text-align: center;
}
.serv_menu .submenu ul .extend_cats ul li:before{
  content: none;
}
.serv_menu .submenu ul .extend_cats ul li a{
  padding: 0;
}
.contact_icons {
  position: absolute;
  top: 75px;
  left:70px;
  width: 200px;
}
.contact_icons .smallphone {
	display: inline-block;
	font-size: 85%;
	font-weight: normal;
	margin-left: 10px;
	color: #000;
}
.contact_icons a:hover .smallphone {
	color: #7ed321;
}

.contact_icons:hover{

}
.contact_icons a {
  margin-right: 10px;
  position: relative;
}
.contact_icons a img {
  opacity: 1;
  transition: 0.1s;
}
.contact_icons a:hover img  {
  opacity: 0;
}
.contact_icons a img.hovered{
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: 0.1s;
}
.contact_icons a:hover img.hovered{
  opacity: 1;
}

@font-face {
  font-family: 'rouble';
  src: url('../fonts/rouble.woff') format('woff'), url('../fonts/rouble.ttf') format('truetype');
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Thin.eot');
	src: url('../fonts/Proxima Nova Thin.woff') format('woff'), url('../fonts/Proxima Nova Thin.ttf') format('truetype'), url('../fonts/Proxima Nova Thin.svg') format('svg');
	font-weight: 100;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Regular.eot');
	src: url('../fonts/Proxima Nova Regular.woff') format('woff'), url('../fonts/Proxima Nova Regular.ttf') format('truetype'), url('../fonts/Proxima Nova Regular.svg') format('svg');
	font-weight: 300;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
	font-weight: 400;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Bold.eot');
	src: url('../fonts/Proxima Nova Bold.woff') format('woff'), url('../fonts/Proxima Nova Bold.ttf') format('truetype'), url('../fonts/Proxima Nova Bold.svg') format('svg');
	font-weight: 500;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Extrabold.eot');
	src: url('../fonts/Proxima Nova Extrabold.woff') format('woff'), url('../fonts/Proxima Nova Extrabold.ttf') format('truetype'), url('../fonts/Proxima Nova Extrabold.svg') format('svg');
	font-weight: 600;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Black.eot');
	src: url('../fonts/Proxima Nova Black.woff') format('woff'), url('../fonts/Proxima Nova Black.ttf') format('truetype'), url('../fonts/Proxima Nova Black.svg') format('svg');
	font-weight: 700;
}
@font-face {
	font-family: 'Affect';
	src: url('../fonts/Affect Light.eot');
	src: url('../fonts/Affect Light.woff') format('woff'), url('../fonts/Affect Light.ttf') format('truetype'), url('../fonts/Affect Light.svg') format('svg');
	font-weight: 100;
}
@font-face {
	font-family: 'Affect';
	src: url('../fonts/Affect.eot');
	src: url('../fonts/Affect.woff') format('woff'), url('../fonts/Affect.ttf') format('truetype'), url('../fonts/Affect.svg') format('svg');
	font-weight: 300;
}
@font-face {
	font-family: 'Affect';
	src: url('../fonts/Affect Bold.eot');
	src: url('../fonts/Affect Bold.woff') format('woff'), url('../fonts/Affect Bold.ttf') format('truetype'), url('../fonts/Affect Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
